# Introduzione pratica ai tipi di dati in Python
Per ulteriori esempi e riferimenti, si veda [An Informal Introduction to Python](https://docs.python.org/2/tutorial/introduction.html#)

In [128]:
metadata = "Name;Identity;Birth place;Publisher;Height;Weight;Gender;First appearance;Eye color;Hair color;Strength;Intelligence"
rowdata = 'Silver Surfer;Norrin Radd;Zenn-La;Marvel Comics;193.00999999999999;101.34;M;;White;No Hair;100;average'

## Stringhe
Le stringhe in Python sono collezioni di caratteri incluse fra i simboli "..." o '...'. Le due notazioni non hanno significative differenze se usiamo "..." non dobbiamo quotare il simbolo ' e viceversa.

In [2]:
print 'Ero "felice"'
print 'Ero \'felice\''
print "Ero 'felice'"
print "Ero \"felice\"\nDavvero!"

Ero "felice"
Ero 'felice'
Ero 'felice'
Ero "felice"
Davvero!

Per evitare di interpretare il simbolo \ come un marcatore possiamo ricorrere alle 'raw strings'. In generale, le stringhe Python possono essere qialificate come stringhe speciali, anteponendo alla stringa un descrittore. Per conoscere il tipo di un dato esiste la funzione `type`.

In [3]:
print 'Bianco\nero'
print r'Bianco\nero'
print type('Bianco\nero'), type(r'Bianco\nero'), type(u'Bianco\nero')

Bianco
ero
Bianco\nero
<type 'str'> <type 'str'> <type 'unicode'>

Stringhe che occupano più linee e conservano la formattazione sono denotate dai simboli """...""" o '''...'''.

In [4]:
silverbio = """
Silver Surfer, alter ego di Norrin Radd, è un personaggio immaginario dei fumetti 
creato da Stan Lee e Jack Kirby nel 1966 \
e pubblicato dalla casa editrice statunitense Marvel Comics.

Esordisce nella serie The Fantastic Four (Vol. 1[1]) n. 48 del 1966, nella Trilogia di Galactus,
\
il cui riscontro positivo da parte del pubblico porta a dedicargli una sua serie personale nel 1968.

Date importanti:
    - 1966
    - 1968
"""

In [5]:
print silverbio

Silver Surfer, alter ego di Norrin Radd, è un personaggio immaginario dei fumetti
creato da Stan Lee e Jack Kirby nel 1966 e pubblicato dalla casa editrice statunitense Marvel Comics.

Esordisce nella serie The Fantastic Four (Vol. 1[1]) n. 48 del 1966, nella Trilogia di Galactus,
il cui riscontro positivo da parte del pubblico porta a dedicargli una sua serie personale nel 1968.

Date importanti:
    - 1966
    - 1968

### Concatenazione di stringhe
Le stringhe si concatenano con l'operatore `+`, si ripetono con `*`. I 'string literals' (le stringhe con '...' si concatenano anche solo giustapponendole

In [6]:
print 3 * "super " + "silver"
print 'con' 'catenato'
sentence = ('Se uso le parentesi e '
      'i literals '
      'è super comodo!')
print sentence

super super super silver
concatenato
Se uso le parentesi e i literals è super comodo!

Ma non si possono concatenare variabili e literals!

In [7]:
one = 'a '

In [8]:
print one 'string'

SyntaxError: invalid syntax (<ipython-input-8-d5cd63e4d480>, line 1)

In [9]:
print one + 'string'

a string

# Indicizzazione delle stringhe
I caratteri di una stringa sono indicizzati e accessibili come in una lista, secondo lo schema:

|S|i|l|v|e|r|
|:---:|:---:|:---:|:---:|:---:|:---:|
|0|1|2|3|4|5|
|-6|-5|-4|-3|-2|-1|

In [10]:
silver = 'Silver'
print len(silver)
print silver[0]
print silver[5]
print silver[-1]
print silver[-6]

6
S
r
r
S

Possiamo perciò usare con le stringhe una tecnica molto usata anche per le liste e fondamentale in Python: lo 'slicing'

In [11]:
print silver[2:]
print silver[:3]
print silver[2:4]
print silver[3:22]

lver
Sil
lv
ver

Tuttavia, a differenza delle liste, le stringhe python sono **immutabili**

In [12]:
silver[1] = 'o'

TypeError: 'str' object does not support item assignment

In [15]:
solver = silver[:1] + 'o' + silver[2:]

In [16]:
print solver

Solver

### Metodi di utilità per le stringhe
In Python, le stringhe sono oggetti dotati di un'ampia gamma di metodi per diverse funzioni (vedi [string methods](https://docs.python.org/2/library/stdtypes.html#string-methods)):

In [25]:
print 'find()', '->', silver.find('ver')
print 'endswith()/startswith()', '->', silver.endswith('er'), silver.startswith('er')
print 'lower()', '->', silver.lower()
print 'lstrip()/rstrip()', '->', silver.lstrip('S'), silver.rstrip('S')
print 'replace()', '->', silver.replace('er', 'an')
print 'split()', '->', silver.split('v')
print 'upper()', '->', silver.upper()
print 'join()', '->', silver.join(['A ', ' hero'])

find() -> 3
endswith()/startswith() -> True False
lower() -> silver
lstrip()/rstrip() -> ilver Silver
replace() -> Silvan
split() -> ['Sil', 'er']
upper() -> SILVER
join() -> A Silver hero

### Formattazione di stringhe
Le stringhe offrono anche l'operatore `%` (modulo). Si tratta di un operstore che consente di formattare e interpolare una stringa con diversi tipi di dato.

In [53]:
print u"%(superhero)s è stato creato da %(creator)s nel %(year)i" % {
    'superhero': 'Silver Surfer', 'creator': ' e '.join(['Stan Lee', 'Jack Kirby']), 'year': 1966
}

Silver Surfer è stato creato da Stan Lee e Jack Kirby nel 1966

In [54]:
print u"{} è stato creato da {} nel {}".format('Silver Surfer', ' e '.join(['Stan Lee', 'Jack Kirby']), 1966)

Silver Surfer è stato creato da Stan Lee e Jack Kirby nel 1966

### Unicode
In Python 2.* le stringhe sono intese come succesione di caratteri ASCII dove non esplicitamente codificate per mezzo dei metodi `encode()` e `decode()`. Le stringhe `unicode` vanno dichiarate come tali col carattere `u`.

In [55]:
u = u'Silver Surfer è nato a Zenn-La'

In [60]:
u

u'Silver Surfer \xe8 nato a Zenn-La'

In [61]:
str(u)

UnicodeEncodeError: 'ascii' codec can't encode character u'\xe8' in position 14: ordinal not in range(128)

In [62]:
u.encode('utf-8')

'Silver Surfer \xc3\xa8 nato a Zenn-La'

In [63]:
str(u.encode('utf-8'))

'Silver Surfer \xc3\xa8 nato a Zenn-La'

# Numeri
In Python ci sono 4 tipi numerici principali: `plain integers`, `long integers`, `floating point numbers`, e `complex numbers`. I booleani sono un sottotipo di interi. 

- I `plain integers` hanno sempre almeno 32 bit di precisione (l'intero massimo è `sys.maxint` e il minimo `-sys.maxint - 1`). 
- I `Long integers` sono illimitati. 
- I `Floating point numbers` sono implementati come i tipi `double` in `C` (vedi `sys.float_info`) 
- I `Complex numbers` hanno una parte reale e una immaginaria entrambe rappresentate come `float`.

In [65]:
import sys
print sys.maxint
print sys.float_info

9223372036854775807
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Operatori aritmetici

In [67]:
print 2 + 2
print 2 * 3
print 17 / 3
print 17 / 3.0
print 17 // 3.0
print 17 % 3
print 17 ** 3

4
6
5
5.66666666667
5.0
2
4913

### Conversioni

In [74]:
a, b, c = 2, 3.0, 3.5
print float(a), int(b), int(c), str(c), bool(c), bool(c - 3.5)

2.0 3 3 3.5 True False

# Gestione delle date
Le principali funzionalità per la gestione delle date sono incluse nei moduli `datetime`, `time` e `calendar` che si basano sullo standard Coordinated Universal Time (UTC). Le date sono **immutabili**.

- `datetime.date` : date secondo il calendario gregoriano
- `datetime.time` : tempo, considerando per ogni giorno 24*60*60 secondi
- `datetime.datetime` : date + tempo
- `datetime.timedelta` : durate con risoluzione al millisecondo
- `datetime.tzinfo` : informazione sul time zone

In [82]:
import datetime as dtt
import time

In [98]:
when = dtt.date(1966, 4, 28)
now = dtt.time(16, 36)
temp = dtt.datetime(when.year, when.month, when.day, now.hour, now.minute, now.second, now.microsecond)
today = dtt.datetime.today()

In [96]:
print when.day
print when.month
print when.year
print now.hour, now.minute, now.second, now.microsecond, now.tzinfo
print temp

28
4
1966
16 36 0 0 None
1966-04-28 16:36:00

In [99]:
delta = temp - today

In [109]:
print delta, type(delta), delta.total_seconds()
print today.isocalendar()
print today.isoformat(' ')

-18949 days, 1:20:50.584075 <type 'datetime.timedelta'> -1637188749.42
(2018, 11, 4)
2018-03-15 15:15:09.415925

### Conversione tra stringhe e date
`strftime()` e `strptime()` convertono date in stringhe e viceversa secondo la seguente convenzione di formato.

<table>
<colgroup>
<col width="15%">
<col width="43%">
<col width="32%">
<col width="9%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Directive</th>
<th class="head">Meaning</th>
<th class="head">Example</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%a</span></code></td>
<td>Weekday as locale’s
abbreviated name.</td>
<td><div class="first last line-block">
<div class="line">Sun, Mon, …, Sat
(en_US);</div>
<div class="line">So, Mo, …, Sa
(de_DE)</div>
</div>
</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%A</span></code></td>
<td>Weekday as locale’s full name.</td>
<td><div class="first last line-block">
<div class="line">Sunday, Monday, …,
Saturday (en_US);</div>
<div class="line">Sonntag, Montag, …,
Samstag (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%w</span></code></td>
<td>Weekday as a decimal number,
where 0 is Sunday and 6 is
Saturday.</td>
<td>0, 1, …, 6</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%d</span></code></td>
<td>Day of the month as a
zero-padded decimal number.</td>
<td>01, 02, …, 31</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%b</span></code></td>
<td>Month as locale’s abbreviated
name.</td>
<td><div class="first last line-block">
<div class="line">Jan, Feb, …, Dec
(en_US);</div>
<div class="line">Jan, Feb, …, Dez
(de_DE)</div>
</div>
</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%B</span></code></td>
<td>Month as locale’s full name.</td>
<td><div class="first last line-block">
<div class="line">January, February,
…, December (en_US);</div>
<div class="line">Januar, Februar, …,
Dezember (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%m</span></code></td>
<td>Month as a zero-padded
decimal number.</td>
<td>01, 02, …, 12</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%y</span></code></td>
<td>Year without century as a
zero-padded decimal number.</td>
<td>00, 01, …, 99</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%Y</span></code></td>
<td>Year with century as a decimal
number.</td>
<td>1970, 1988, 2001, 2013</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%H</span></code></td>
<td>Hour (24-hour clock) as a
zero-padded decimal number.</td>
<td>00, 01, …, 23</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%I</span></code></td>
<td>Hour (12-hour clock) as a
zero-padded decimal number.</td>
<td>01, 02, …, 12</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%p</span></code></td>
<td>Locale’s equivalent of either
AM or PM.</td>
<td><div class="first last line-block">
<div class="line">AM, PM (en_US);</div>
<div class="line">am, pm (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%M</span></code></td>
<td>Minute as a zero-padded
decimal number.</td>
<td>00, 01, …, 59</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%S</span></code></td>
<td>Second as a zero-padded
decimal number.</td>
<td>00, 01, …, 59</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%f</span></code></td>
<td>Microsecond as a decimal
number, zero-padded on the
left.</td>
<td>000000, 000001, …,
999999</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%z</span></code></td>
<td>UTC offset in the form +HHMM
or -HHMM (empty string if the
the object is naive).</td>
<td>(empty), +0000, -0400,
+1030</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%Z</span></code></td>
<td>Time zone name (empty string
if the object is naive).</td>
<td>(empty), UTC, EST, CST</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%j</span></code></td>
<td>Day of the year as a
zero-padded decimal number.</td>
<td>001, 002, …, 366</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%U</span></code></td>
<td>Week number of the year
(Sunday as the first day of
the week) as a zero padded
decimal number. All days in a
new year preceding the first
Sunday are considered to be in
week 0.</td>
<td>00, 01, …, 53</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%W</span></code></td>
<td>Week number of the year
(Monday as the first day of
the week) as a decimal number.
All days in a new year
preceding the first Monday
are considered to be in
week 0.</td>
<td>00, 01, …, 53</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%c</span></code></td>
<td>Locale’s appropriate date and
time representation.</td>
<td><div class="first last line-block">
<div class="line">Tue Aug 16 21:30:00
1988 (en_US);</div>
<div class="line">Di 16 Aug 21:30:00
1988 (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%x</span></code></td>
<td>Locale’s appropriate date
representation.</td>
<td><div class="first last line-block">
<div class="line">08/16/88 (None);</div>
<div class="line">08/16/1988 (en_US);</div>
<div class="line">16.08.1988 (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">%X</span></code></td>
<td>Locale’s appropriate time
representation.</td>
<td><div class="first last line-block">
<div class="line">21:30:00 (en_US);</div>
<div class="line">21:30:00 (de_DE)</div>
</div>
</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">%%</span></code></td>
<td>A literal <code class="docutils literal"><span class="pre">'%'</span></code> character.</td>
<td>%</td>
</tr>
</tbody>
</table>

In [120]:
print dtt.datetime.strftime(today, "%b %d %Y %I:%M:%S %p %z")

Mar 15 2018 03:15:09 PM

In [122]:
from_string = dtt.datetime.strptime('6/12/1978 12:36:46','%d/%m/%Y %H:%M:%S')

In [125]:
print from_string

1978-12-06 12:36:46

# Put things together

In [129]:
silver_data = rowdata.split(';')

In [133]:
print metadata.split(';')
print silver_data

['Name', 'Identity', 'Birth place', 'Publisher', 'Height', 'Weight', 'Gender', 'First appearance', 'Eye color', 'Hair color', 'Strength', 'Intelligence']
['Silver Surfer', 'Norrin Radd', 'Zenn-La', 'Marvel Comics', '193.00999999999999', '101.34', 'M', '', 'White', 'No Hair', '100', 'average']